/* Globals */

/* Palette:
	dark: #273E47
	light: #FCFAF9
	pink: #DB5461
	brown: #333333
	green: #48E5C2
 */

:root {
	--background: #273E47;
	--foreground: #FCFAF9;
	--highlight: #DB5461;
}

* { /* Necessary for text inputs and buttons */
	font-family: 'Josefin Sans', sans-serif;
}

body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: var(--background);
	color: var(--foreground);
}

/* Header */

.header h1 {
	animation: 1s ease 0s 1 slideInFromTop;
	font-size: 4rem;
	text-align: center;
}

.header .searchbar {
	animation: 0.5s ease 0s 1 slideInFromTop;
	height: 4rem;
}

.header input[type=text] {
	transition: 0.2s;
	font-size: 1.5rem;
	width: 80%;
	padding-left: 2rem;
	height: 100%;
	border: none;
	border-radius: 1.5rem 2px;
}

.header input[type=text]:focus {
	border-radius: 1.5rem;
	border: solid 2px var(--highlight);
}

.header button {
	animation: 0.75s ease 0s 1 slideInFromLeft ;
	transition: 0.2s;
	font-size: 1.5rem;
	text-transform: uppercase;
	width: 8rem;
	cursor: pointer;
	border: none;
	color: var(--foreground);
	background-color: var(--highlight);
	border-radius: 1rem;
	right: 2rem;
	z-index: -1;
	height: 104%;
	padding-left: 2rem;
}

.header button:hover {
	color: var(--highlight);
	background-color: var(--foreground);
	border-radius: 1rem;
	border: solid 2px var(--highlight);
}

@keyframes slideInFromTop {
  0% { transform: translateY(-400%); }
  100% { transform: translateY(0); }
}
@keyframes slideInFromLeft {
  0% { transform: translateX(-400%); }
  100% { transform: translateX(0); }
}

/* Container */

.container-padding50 {
	padding-top: 4rem;
}

.container-image {
	transition: 0.3s;
	width: 30%;
	border-radius: 1.5rem 2px;
	border: solid var(--foreground) 2px;
	display: block;
	float: left;
	margin: 0.5rem;
}

.container-image:hover {
	border-radius: 1.5rem;
	border-color: var(--highlight);
}
