body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: cornflowerblue;
}
h1{
	font-size: 50px;
	text-align: center;;
}

.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: green;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;

	border: 1px solid green;
	border-radius: 5px;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}
#bt-go{
	padding: 15px;
	font-size: 20px;
	box-sizing: content-box;
	animation-name: go;
	animation-duration: 4s;
	animation-direction:alternate;
	animation-iteration-count: infinite;
	
	
}
#bt-go:hover{
	background:rgba(255, 255, 255, 1);
	opacity: 0.6;
	
}
@keyframes go{
	0%{font-family: cursive;background-color: red;font-size: 14px}
	25%  {font-family: fantasy;background-color: dodgerblue;font-size: 16px}
    50%  {font-family: inherit;background-color:yellow;font-size: 18px}
    75%  {font-family: monospace;background-color: blue;font-size: 20px}
    100% {font-family: serif;background-color: orange;font-size: 22px}
}
